{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
    .main-area {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        background-color: #f8f9fa;
    }

    .product-cards {
        background-color: white;
        padding: 10px;
    }
</style>
{% endblock %}

{% block body%}
<div class="main-area">
    <!-- <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                    mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>

        </div>
    </div> -->
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{{product.image.url}}"
          
                class="card-img-top bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                width="500" height="500" alt="...">

        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">{{product.product_name}}</h2>
            <p class="lead">Rs. {{product.price}}</p>
            <a class="btn btn-primary" href="#">Add To Cart</a>
        </div>

    </div>
</div>

</div>
{% endblock %}